<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    <link href="main.css" rel="stylesheet">
    <title>Announcement List</title>
</head>

<body>
<div id="pageheader">
</div>

<div id="body">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href=""><img src="./vintudlogo36x39.png" alt="vintud" height="32" width="34">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="vintudnavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../src/index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="signin.html">SignIn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="signup.html">SignUp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="createAnnouncement.html">Create Announcement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="announcements.html">List Announcements</a>
                </li>
            </ul>
                <a href="signin.html"><button class="btn btn-outline-danger my-2 my-sm-0" type="submit">logout <i class="fa fa-sign-out fa-lg"></i></button></a>
        </div>
    </nav>

    <main role="main" class="container">

        <table class="table table-striped" >
            <thead>
            <tr>
                <th scope="col"># </th>
                <th scope="col">id</th>
                <th scope="col">title</th>
                <th scope="col">description</th>
                <th scope="col">price</th>
            </tr>
            </thead>
            <tbody id="result">
            </tbody>
        </table>

    </main><!-- /.container -->
</div>

<div id="pagefooter">

</div>
<script type="text/javascript" src="main.bundle.js"></script>
</body>
</html>
